<header class="header">
    <div class="header__container">

        <!-- Logotype -->
        <div class="header__logo">
            <a href="../index.html" class="logo">
                <img src="../img/icons/logo.svg" alt="Logotype" class="logo__icon">
            </a>
        </div>

        <!-- Menu -->
        <div class="header__menu menu">
            <!--Нав буде ховатися -->
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link current">Home</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Movies & Shows</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Support</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Subscriptions</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Actions -->
        <ul class="header__actions actions-header">
            <li class="actions-header__item">
                <button data-popup="#popup-search" class="actions-header__button -icon-search" type="button"></button>
            </li>
            <li class="actions-header__item">
                <button data-popup="#popup-notification" class="actions-header__button -icon-notification"
                    type="button"></button>
            </li>
        </ul>

        <!-- Button-menu-togle -->
        <button class="button-menu" type="button"><span></span></button>
    </div>
</header>