// Основні стилі
body {
	font-family: "Manrope", sans-serif;
	font-size: toRem(14);
	line-height: 1.5;
	background-color: $bg-color;
	color: $color-text;

	// Laptop
	@media only screen and (min-width: toEm(1024)) {
		font-size: toRem(16);
	}

	// Desktop 1597px + 80px +80px
	@media only screen and (min-width: toEm(1757)) {
		font-size: toRem(18);
	}
	/*
	opacity: 0;
	transition: opacity 1.5s;

	.loaded & {
		opacity: 1;
	}
	*/
}

.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

/* --------------------- */

[class*="__container"] {
	box-sizing: content-box;
	max-width: toRem(1280);
	padding-inline: toRem(16);
	margin-left: auto;
	margin-right: auto;


	// Desktop
	@media only screen and (min-width: toEm(1440)) {
		max-width: toRem(1597);
		padding-inline: toRem(80);
	}
}
/* --------------------- */