// Red Shades
$red-shade-45: #e50000;
$red-shade-50: #ff0000;
$red-shade-55: #ff1919;
$red-shade-60: #ff3333;
$red-shade-80: #ff9999;
$red-shade-90: #ffcccc;
$red-shade-95: #ffe5e5;
$red-shade-99: #fffafa;

// Black Shades
$black-shade-06: #0f0f0f;
$black-shade-08: #141414;
$black-shade-10: #1a1a1a;
$black-shade-12: #1f1f1f;
$black-shade-15: #262626;
$black-shade-20: #333333;
$black-shade-25: #404040;
$black-shade-30: #4c4c4c;

// Grey Shades
$gray-shade-60: #999999;
$gray-shade-65: #a6a6a6;
$gray-shade-70: #b3b3b3;
$gray-shade-75: #bfbfbf;
$gray-shade-90: #e4e4e7;
$gray-shade-95: #f1f1f3;
$gray-shade-97: #f7f7f8;
$gray-shade-99: #fcfcfd;

// 
$color-text: $gray-shade-60;
$section-title-color: #ffffff;
$bg-color: $black-shade-08;
